#bars {
  /* position: absolute; */
  position: static;
  width: 100%;
  margin-top: 4%;
  height: 450px;
  text-align: center;
  /* justify-content: center; */
}

.array-bar {
  background-color: navy;
  display: inline-block;
  margin: 1px;
}
